/**
 *
 * {{ properCase name }} formField file
 * created by generator
 *
 * source => https://github.com/china-english/react-native-boilerplate
 * author => fei
 *
 */
{{#if wantTransLate}}

/* global translate */
{{/if}}

import React from 'react';
import PropTypes from 'prop-types';
import {
  Item,
  Input,
  Label,
} from 'native-base';

import styles from 'formFields/styles';

const {{ properCase name }} = (props) => {
  const {
    input, placeholder, label, hasLabel,
    secureTextEntry,
    layout, itemSettings, itemstyle, labelStyle,
  } = props;

  const itemLayout = [styles.defaultItem, itemstyle];
  const labelVertical = [labelStyle];
  if (layout === 'vertical') {
    itemLayout.push(styles.fieldVertical);
    labelVertical.push(styles.labelVertical);
  }

  const labelText = label || input.name;
  const placeholderText = (itemSettings && itemSettings.floatingLabel === true)
    ? null : {{#if wantTransLate}}translate(placeholder){{else}}placeholder{{/if}};

  return (
    <Item {...itemSettings} style={itemLayout}>
      {hasLabel && <Label style={labelVertical}>{{#if wantTransLate}}{translate(labelText)}{{else}}{labelText}{{/if}}</Label>}
      <Input
        placeholder={placeholderText}
        onChangeText={input.onChange}
        secureTextEntry={secureTextEntry}
        defaultValue={input.value}
      />
    </Item>
  );
};

{{ properCase name }}.defaultProps = {
  input: {
    value: false,
    onChange: () => null,
  },
  placeholder: '',
  label: '',
  layout: '',
  itemSettings: {},
  secureTextEntry: false,
  itemstyle: {},
  labelStyle: {},
  hasLabel: true,
};

{{ properCase name }}.propTypes = {
  input: PropTypes.shape({
    value: PropTypes.any,
    onChange: PropTypes.func,
  }),
  placeholder: PropTypes.string,
  label: PropTypes.string,
  layout: PropTypes.string,
  itemSettings: PropTypes.object,
  secureTextEntry: PropTypes.bool,
  itemstyle: PropTypes.object,
  labelStyle: PropTypes.object,
  hasLabel: PropTypes.bool,
};

export default {{ properCase name }};
