/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';
import {
  Item,
  Input,
  Label,
  Text,
} from 'native-base';
{{#if wantTransLate}}

import { translate } from 'utils/helpers';
{{/if}}

import styles from '../styles';

const {{ properCase name }} = (props) => {
  const {
    input, placeholder, label,
    secureTextEntry, meta,
    layout, itemSettings, itemstyle, labelStyle,
  } = props;
  const { dirty, error, touched } = meta;

  const itemLayout = [itemstyle];
  const labelVertical = [labelStyle];
  if (layout === 'vertical') {
    itemLayout.push(styles.fieldVertical);
    labelVertical.push(styles.labelVertical);
  }

  const hasError = (dirty || touched) && error;

  const labelText = label || input.name;
  const placeholderText = (itemSettings && itemSettings.floatingLabel === true)
    ? null : {{#if wantTransLate}}translate(placeholder){{else}}placeholder{{/if}};

  return (
    <Item {...itemSettings} style={itemLayout}>
      <Label style={labelVertical}>{{#if wantTransLate}}{translate(labelText)}{{else}}{labelText}{{/if}}</Label>
      <Input
        placeholder={placeholderText}
        onChangeText={input.onChange}
        secureTextEntry={secureTextEntry}
        defaultValue={input.value}
      />
      {hasError && <Text style={styles.errorStyle}>{{#if wantTransLate}}{translate(error)}{{else}}{error}{{/if}}</Text>}
    </Item>
  );
};

{{ properCase name }}.defaultProps = {
  input: {},
  meta: {
    dirty: false,
    error: undefined,
    touched: false,
  },
  placeholder: '',
  label: '',
  layout: '',
  itemSettings: {},
  secureTextEntry: false,
  itemstyle: {},
  labelStyle: {},
};

{{ properCase name }}.propTypes = {
  input: PropTypes.shape({
    value: PropTypes.any,
    onChange: PropTypes.func,
  }),
  meta: PropTypes.shape({
    dirty: PropTypes.bool,
    error: PropTypes.any,
    touched: PropTypes.bool,
  }),
  placeholder: PropTypes.string,
  label: PropTypes.string,
  layout: PropTypes.string,
  itemSettings: PropTypes.object,
  secureTextEntry: PropTypes.bool,
  itemstyle: PropTypes.object,
  labelStyle: PropTypes.object,
};

export default {{ properCase name }};
