/**
 *
 * {{ properCase name }} form file
 * created by generator
 *
 * source => https://github.com/china-english/react-native-boilerplate
 * author => fei
 *
 */
{{#if wantTransLate}}

/* global translate */
{{/if}}

import React from 'react';
import PropTypes from 'prop-types';
import pick from 'lodash/pick';
import { reduxForm } from 'redux-form/immutable';
import {
  Button,
  Text,
  Form,
} from 'native-base';

import Group from 'formFields';

import styles from './styles';

class {{ properCase name }} extends {{{ type }}} { // eslint-disable-line
  render() {
    const { handleSubmit, ...otherProps } = this.props;

    // Add your formField in this object
    const formFieldsObject = {
      email: {
        label: 'email',
        type: 'textInput',
        placeholder: 'placeholderEmail',
      },
      password: {
        label: 'password',
        type: 'textInput',
        secureTextEntry: true,
        placeholder: 'placeholderPassword',
      },
    };

    // 使用 pick 方法挑选出你需要展示的formField
    const formFields = [
      pick(formFieldsObject, 'email', 'password'),
    ];

    return (
      <Form style={styles.form}>
        {formFields.map((formField) => (
          <Group
            fieldsObject={formField}
            key={formField}
            {...otherProps}
          />
        ))}
        <Button block primary style={styles.button} onPress={handleSubmit}>
          <Text>{{#if wantTransLate}}{translate('submit')}{{else}}Submit{{/if}}</Text>
        </Button>
      </Form>
    );
  }
}

{{ properCase name }}.propTypes = {
  handleSubmit: PropTypes.func.isRequired,
};

{{ properCase name }}.defaultProps = {
};

export default reduxForm({
  form: '{{ camelCase name }}',
})({{ properCase name }});
